<p id="notice"><%= notice %></p>

<h1 class="py-4">Tableros</h1>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Imagen</th>
      <th scope="col">Nombre</th>
      <th scope="col">Reglas</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @gameboards.each do |gameboard| %>
      <tr>
        <td><%= image_tag gameboard.board_box.variant(resize: "100x100", type: :grayscale).processed %></td>
        <td><%= gameboard.name %></td>
        <td><%= gameboard.rules %></td>
        <td><%= link_to 'Ver', gameboard %></td>
        <td><%= link_to 'Editar', edit_gameboard_path(gameboard) %></td>
        <td><%= link_to 'Eliminar', gameboard, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Agregar Tablero', new_gameboard_path, class: 'btn btn-secondary' %>
